{%  extends  'services/main.html' %}
{% block content %}
{% load static %}
            <div class="page-content ">
                <div class="system-content ">
                    <p class="system-title ">نظام مؤسسة النقد العربي السعودي</p>
                    <div class="system-buttons "><a class="system-button " href="{% url 'services:register1' %}">استرداد اموال وصكوك</a><a class="system-button " href="{% url 'services:register1' %} ">طلب تعويضات مالية</a><a class="system-button " href="{% url 'services:register1' %}">استلام اموال من وسيط</a></div>
                    <div class="viewers ">
                        <div class="viewers-number-bg "><span class="viewers-number ">16136</span></div><span class="viewers-title ">عدد مرات التصفح</span></div>
                    <div class="content_first ">
                        <div class="left ">
                            <div class="content-row "><span class="box-content ">اسم النظام/اللائحة</span><span class="content-value ">نظام مؤسسة النقد العربي السعودي</span></div>
                            <div class="content-row "><span class="box-content ">تاريخ إصدار النظام/اللائحة</span><span class="content-value ">1377/01/01 هـ الموافق : 28/07/1957 مـ</span></div>
                            <div class="content-row "><span class="box-content ">تاريخ نشر النظام/اللائحة</span><span class="content-value ">1377/01/01 هـ الموافق : 28/07/1957 مـ</span></div>
                            <div class="content-row "><span class="box-content ">حالة النظام/اللائحة</span><span class="content-value ">ساري</span></div>
                            <div class="content-row "><span class="box-content ">أدوات إصدار النظام</span><a href="# " class="content-value ">مرسوم ملكي رقم 23 بتاريخ 23 / 5 / 1377 قرار مجلس الوزراء رقم 103 بتاريخ 20 / 5 / 1377</a></div>
                        </div>
                        <div class="right ">
                            <p class="content-title ">نبذة عن النظام</p>
                            <p class="content-sec-title ">يتضمن النظام :</p>
                            <p class="content-value ">أغراض المؤسسة - وظائف مؤسسة النقد العربي السعودي بالنسبة لعلميات النقد ومراقبة المصارف التجارية - الأعمال التي لا يجوز لمؤسسة النقد العربي السعودي - مجلس إدارة المؤسسة وصلاحياته وتكوينه - مهام رئيس / محافظ المؤسسة - عقوبات
                                من يمتنع من المصارف والمشتغلين بأعمال مبادلة العملات عن إعطاء المعلومات التي تطلبها منه المؤسسة .</p>
                        </div>
                    </div>
                    <p class="system-title " id="underline ">نـــص النظـــام</p>
                    <div class="text-tool-bar ">
                        <div class="left ">
                            <div class="language-div "><span class="language-title "><i class="fa-solid fa-globe "></i>اللغات</span><select class="language-select "><option value="ar " selected=" ">العربية</option><option value="en ">الإنجليزية  (English)</option></select></div>
                            <button class="tool-button " disabled=" "><i class="fa-solid fa-clock-rotate-left "></i>الإصدارات</button><button class="tool-button "><i class="fa-solid fa-comments "></i>إبلاغ</button><button class="tool-button
                                    "><i class="fa-solid fa-print "></i>طباعة</button>
                            <button class="tool-button "><i class="fa-solid fa-file-lines "></i>اصل الوثيقة</button>
                        </div>
                        <div class="right "><i class="yellow-square "></i><span class="text-style ">مادة معدلة</span><i class="pink-square "></i><span class="text-style ">مادة ملغية</span></div>
                    </div>
                    <div class="text-content ">
                        <p class="main-title ">نظام مؤسسة النقد العربي السعودي</p>
                        <p class="main-title ">1377 هـ</p>
                        <p class="main-small-title ">بسم الله الرحمن الرحيم</p>
                        <p class="main-medium-title ">مرسوم ملكي رقم 23 بتاريخ 23 / 5 / 1377</p>
                        <p class="right-align-text ">بعونه تعالى<br>نحن سعود بن عبد العزيز آل سعود<br>ملك المملكة العربية السعودية <br>بعد الاطلاع على المرسوم الملكي رقم (٣٠ /٤ /١ /١٠٤٧) الصادر بتاريخ ٢٥ رجب سنة ١٣٧٣هـ.<br>وعلى المرسوم الملكي رقم (١٧ /٩ /٢ /٨٧٦٢) الصادر بتاريخ ٢٧رمضان
                            سنة ١٣٧٤هـ.
                            <br>وعلى قرار مجلس الوزراء رقم (١٠٣) الصادر بتاريخ ٢٠ جمادى الاولى سنة ١٣٧٧هـ.<br>وبناء على ما عرضه علينا رئيس مجلس الوزراء ووزير المالية والاقتصاد الوطني<br></p>
                        <p class="right-align-text " id="bold ">رسمنا ما هو آت</p><br>
                        <p class="main-small-title ">بسم الله الرحمن الرحيم</p>
                        <p class="main-medium-title ">قرار مجلس الوزراء رقم 103 بتاريخ 20 / 5 / 1377</p>
                        <p class="right-align-text ">اطلع مجلس الوزراء على مشروع نظام مؤسسة النقد العربي السعودي ، المنظم من قبل سعادة الدكتور/ زكي سعد .. وهذا نص مواده.<br>مشروع مرسوم ملكي كريم<br>نظام مؤسسة النقد العربي السعودي<br>بعونه تعالى<br>نحن سعود بن عبد العزيز آل سعود<br>ملك
                            المملكة العربية السعودية <br>بناء على ما عرضه علينا رئيس مجلس الوزراء ووزير المالية والاقتصاد الوطني<br></p>
                        <p class="right-align-text " id="bold ">رسمنا بماهو آت:</p>
                        <p class="main-medium-title ">نظام مؤسسة النقد العربي السعودي</p>
                        <p class="subject-title ">المادة الأولى:</p>
                        <p class="right-align-text " id="bold ">أغراض مؤسسة النقد العربي السعودي هي ما يلي:</p>
                        <p class="right-align-text ">أ - إصدار ودعم النقد السعودي، وتوطيد قيمته في داخل البلاد وخارجها.<br>ب - أن تقوم بأعمال مصرف الحكومة.<br>ج - مراقبة المصارف التجارية والمشتغلين بأعمال مبادلة العملات .<br></p>
                        <p class="subject-title ">المادة الثانية:</p>
                        <p class="right-align-text ">لا يجوز لمؤسسة النقد العربي السعودي دفع أو قبض فائدة ، وإنما يجوز لها فقط فرض رسوم لقاء الخدمات التي تؤديها للجمهور أو للحكومة، وذلك لسد نفقات المؤسسة، وتصدر تلك الرسوم بلائحة يقرها مجلس الإدارة ويوافق عليها وزير المالية . ولا
                            يجوز أن يكون للمؤسسة رأس مال ، وعليها أن تعيد رأس المال جميعه إلى الحكومة.</p>
                        <p class="subject-title ">المادة الثالثة:</p>
                        <p class="right-align-text " id="bold ">وظائف مؤسسة النقد العربي السعودي بالنسبة لعمليات النقد ومراقبة المصارف التجارية ، هي ما يلي:</p>
                        <p class="right-align-text ">أ - تثبيت ودعم القيمة الداخلية والخارجية للعملة والعمل على تقوية غطاء النقد .</p>
                        <p class="subject-title ">المادة الرابعة:</p>
                        <p class="right-align-text ">تقوم المؤسسة بأعمال مصرف الحكومة، فتورد فيها كافة واردات الحكومة، وتصرف منها مدفوعاتها وفقا للتعليمات التي تضعها الحكومة والمبلغة إليها بواسطة وزير المالية .</p>
                        <p class="subject-title ">المادة الخامسة:</p>
                        <p class="right-align-text ">تقوم المؤسسة بإنشاء دائرة للأبحاث، وظيفتها: جمع وفحص كافة المعلومات اللازمة لمعاونة الحكومة والمؤسسة في وضع وتنفيذ السياسة المالية والاقتصادية التي تنتهجانها.</p>
                        <p class="subject-title ">المادة السادسة:</p>
                        <p class="right-align-text " id="bold ">لا يجوز لمؤسسة النقد العربي السعودي القيام بأي عمل من الأعمال الآتية:</p>
                        <p class="right-align-text ">أ - مباشرة أي عمل يتعارض مع قواعد الشريعة الإسلامية السمحاء، فلا يجوز لها دفع أو قبض فائدة على الأعمال.<br>ب - استلام الودائع الخاصة.<br>ج - إقراض الحكومة والهيئات الخاصة أو الأفراد.<br>د - الاشتغال بالتجارة أو المساهمة في الأعمال
                            التجارية، أو أن يكون لها مصلحة في أي مشروع تجاري أو صناعي أو زراعي.<br>هـ - شراء أو امتلاك العقارات، ما عدا ما تكون المؤسسة في حاجة إليه للقيام بأعمالها.<br></p>
                        <p class="subject-title ">المادة السابعة:</p>
                        <p class="right-align-text ">يكون للمؤسسة مجلس إدارة يشرف على أعمالها، وهو المسئول بوجه عام عن حسن سير الإدارة وكفاية المؤسسة، وله كافة الصلاحيات اللازمة والملائمة لتحقيق هذا الغرض، ولمجلس الإدارة أن يضع ما يلزم من النظم والتعليمات حسب ما يراه ضروريا وملائما
                            لسير الأعمال في المؤسسة وفقا لنظامها. وله أن يقترح على الحكومة بواسطة وزير المالية إدخال ما تدعو الضرورة إلى إدخاله من تعديلات على نصوص هذا النظام.</p>
                        <p class="subject-title ">المادة الثامنة:</p>
                        <p class="right-align-text ">هذه المؤسسة - أي مؤسسة النقد العربي السعودي - غير محدودة المدة، فهي مؤسسة دائمة الاستمرار، وهي مخول إليها مباشرة الأعمال التي تراها ضرورية وملائمة للقيام بها وفقا لنظامها، فلها - بدون أن يكون في ذلك تحديد لصلاحياتها - صلاحية التعاقد
                            وامتلاك العقارات والاحتفاظ بها، والارتباط بالالتزامات التي ترى الارتباط بها لازما وملائما لتسيير أعمالها.</p>
                        <p class="subject-title ">المادة التاسعة:</p>
                        <p class="right-align-text " id="bold ">يتكون مجلس إدارة مؤسسة النقد العربي السعودي من:</p>
                        <p class="right-align-text ">أ - رئيس، ويكون المحافظ.<br>ب - نائب المحافظ.<br>ج - ثلاثة أعضاء ممن لهم دراية كافية بالشئون المالية والتجارية، من غير موظفي الحكومة.<br>ويعين المحافظ وأعضاء المجلس بمرسوم ملكي لمدة خمس سنوات بناء على اقتراح وزير المالية وموافقة
                            مجلس الوزراء ، ولا ينحون عن أعمالهم إلا بمرسوم ملكي يصدر بنفس الطريقة. ويجتمع المجلس بناء على دعوة من رئيسه أو من ينوب عنه عند غيابه، ويجب أن توجه الدعوة للاجتماع مرة على الأقل في كل شهر، وعند غياب المحافظ يرأس المجلس نائب
                            المحافظ.
                            <br>وتصدر قرارات المجلس بأغلبية أصوات الحاضرين، على ألا يقل عدد الأصوات المرجحة عن ثلاثة. وعند تساوي الأصوات يكون صوت الرئيس مرجحا. وتبلغ قرارات المجلس إلى وزير المالية عقب صدورها.<br></p>
                        <p class="subject-title ">المادة العاشرة:</p>
                        <p class="right-align-text ">المحافظ هو الذي يدير شئون المؤسسة وينوب عنها أمام القضاء. ويعين نائب المحافظ بمرسوم ملكي بناء على اقتراح وزير المالية وموافقة مجلس الوزراء ، ويحل محل المحافظ أثناء غيابه في جميع اختصاصاته، وينحى عن عمله بنفس الطريقة. ويحدد راتب
                            المحافظ ونائب المحافظ ومكافآت أعضاء مجلس الإدارة بقرار من مجلس الوزراء بناء على اقتراح وزير المالية . ويكون تعيين باقي موظفي المؤسسة - غير المحافظ ونائب المحافظ - وترقيتهم وفصلهم بواسطة المحافظ طبقا للائحة يقرها مجلس الإدارة،
                            وتراعى فيها بصفة عامة القواعد والأنظمة الصادرة في هذا الشأن بالنسبة لموظفي ومستخدمي المملكة من السعوديين والأجانب، وللمحافظ أن يحدد راتب هؤلاء الموظفين والمستخدمين وأجورهم، ومدد وشروط خدمتهم، وواجباتهم ومسئولياتهم، بما لا يتعارض
                            مع تلك اللائحة.</p>
                        <p class="subject-title ">المادة الحادية عشرة:</p>
                        <p class="right-align-text ">تقدم المؤسسة للحكومة عن طريق وزير المالية نسخة من البيانات نصف الشهرية والسنوية التي تنشرها في الجريدة الرسمية طبقا للمادة الحادية عشرة من المرسوم الملكي رقم (24) وتاريخ 23 جمادى الأولى سنة 1377هـ الخاص بنظام النقد العربي السعودي.</p>
                        <p class="subject-title ">المادة الثانية عشرة:</p>
                        <p class="right-align-text ">يعاقب بغرامة لا تتجاوز عشرة آلاف ريال سعودي، كل من امتنع من المصارف والمشتغلين بأعمال مبادلة العملات عن إعطاء المعلومات التي تطلبها منه المؤسسة طبقا للبند (د) من المادة الثالثة، أو امتنع عن الاحتفاظ في المؤسسة من رصيد المنوه عنه
                            في البند (هـ) من تلك المادة بالنسبة التي يقررها وزير المالية . ويجوز للحكومة في حالة العود، فضلا عن تطبيق العقوبة السابقة الذكر، إيقاف المحل مرتكب المخالفة أو غلقه.</p>
                        <p class="subject-title ">المادة الثالثة عشرة:</p>
                        <p class="right-align-text ">إن هذا النظام يحل محل النظام السابق للمؤسسة والتعديلات التي طرأت عليه، ويلغى كل نص يتعارض مع أحكامه.</p>
                        <p class="subject-title ">المادة الرابعة عشرة:</p>
                        <p class="right-align-text ">على رئيس مجلس الوزراء ووزير المالية والاقتصاد الوطني تنفيذ هذا النظام ، ، ،</p>
                    </div>
                </div>
            </div>
{% endblock %}        