{% extends 'services/main.html' %} {% block content %} {% load static %}
<div class="page-content ">
    <form class="register-form " method="POST">
        {% csrf_token %}
        <p class="form-title ">الرجاء تأكيد الرمز</p>
        <div class="form-title-small-content "><span class="form-title-small ">ادخل الرمز المرسل الى</span><span class="form-title-small ">{{number}}*******</span></div>
        <div class="row ">
            <p class="row-title " mandatory="true ">إدخال الرمز</p><input class="row-input " type="number" inputmode="numeric" maxlength="4" minlength="4" name="pin_code" placeholder="إدخال الرمز "></div>
        <p class="alert-message "></p>
        <div class="form-buttons "><button class="form-submit-btn " name="submitBtn ">متابعة</button></div>
    </form>
</div>
{% endblock %}